* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    box-shadow:  0 0 5px darkgray;
    padding: 15px 10px;
}